.logos{
   position: absolute;
   color: #fff;
   opacity: 1;
   font-size: 2rem;
   display: flex;
   justify-content: space-between;
   width: 180px;
   cursor: pointer;
}
.logos div:hover{
   color: var(--yellow);
   
}
.btns{
   border: none;
   background-color: transparent;
   color: #fff;
   font-size: 1.9rem;
   
}


