.containerAreInNumber{
    background-color: rgba(29, 28, 24, 0.85);
    color: var(--beige);
    height: 300px;
    width: 1320px;
    margin-left: 20px;
   
    margin-right: 20px;
}
h1{
    color: var(--yellow);
    padding-left: 30px ;
    padding-top: 30px;
}